@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #f5f5f5;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;

}

.header {
    display: flex;
}

.titulo {
    text-align: center;
    margin: 0 auto;
}

.img {
    position: absolute;
    width: 200px;
    margin: 0;
    left: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nome-container, .rg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.nome-container img{
    width: 50px; /* Tamanho das imagens */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.rg-container img {
    width: 50px; /* Tamanho das imagens */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
    margin-top: 20px;
}


.card {
    border: 1px solid #1900ff;
    border-radius: 8px;
    margin-top: 30px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin-top: 8px;
}

.card-vermelho {
    /* Sem Autorização */
    border: 2px solid #ff0800;
}

.card-verde {
    /* Carga Liberada */
    border: 2px solid #28a745;
}

.card-amarelo {
    /* Carga Liberada Manualmente */
    border: 2px solid #d9ff00;
}

.card-pink {
    /* Saída Contingência */
    border: 2px solid #ff0062;
}

.card-preto {
    /* Saída Normal */
    border: 2px solid #000000;
}

.card-branco {
    /* Saída Liberada - Entrega */
    border: 2px solid #ffffff;
}

.card-cinza {
    border: 2px solid #ccc;
}

.card::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 700px;
    height: 50px;
}

.portaria {
    margin-top: -45px;
    margin-left: 90%;
    text-align: center;
    width: 8%;
    z-index: 1;
    font-size: 32px;
    color: black;
    background-color: #f5f5f5;
    border-radius: 100%;
    font-weight: bold;
}

.id {
    margin-top: -50px;
    background-color: transparent;
    color: white;
    text-align: start;
    width: 100%;
    z-index: 1;
    font-size: 12px;
}

.status {
    position: absolute;
    margin-top: 8px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.rg {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
}

.nome {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    color: black;
    font-size: 22px;
    text-wrap: wrap;
}

.dados_veiculo {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}


.dados {
    text-align: center;
    margin: 0;
    margin-top: -15px;
}

.dados-container {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.dados-container img {
    width: 50px; /* Definindo a largura da imagem */
    height: 50px; /* Definindo a altura da imagem */
    margin-bottom: 10px;
}

.dados_carregamento {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    
}

.entrada-container,
.carregamento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-top: -20px;
}

.entrada-container img,
.carregamento-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.entrada,
.carregamento {
    text-align: center;
    margin-top: -10px;
}

.card-verde::before {
    background-color: #28a745;
}

.card-vermelho::before {
    background-color: #ff0800;
}

.card-amarelo::before {
    background-color: #ffc107;
}
