@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #f5f5f5;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;
    margin: 10px;
}

.header {
    display: flex;
}

.titulo {
    text-align: center;
    margin: 0 auto;
    color: #3498db;
}

.img {
    position: absolute;
    width: 200px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nome-container, .rg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}

.nome-container img{
    width: 50px; 
    margin-right: 10px;
    margin-bottom: 0;
}

.rg-container img {
    width: 50px; 
    margin-right: 10px; 
    margin-top: 20px;
}

.card {
    border: 1px solid #1900ff;
    border-radius: 8px;
    margin-top: 30px;
    width: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-around;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 0;
}

.card h3 {
    margin-top: 8px;
}

.card-vermelho {
    /* Sem Autorização */
    border: 2px solid #ff0800;
}

.card-verde {
    /* Carga Liberada */
    border: 2px solid #28a745;
}

.card-amarelo {
    /* Carga Liberada Manualmente */
    border: 2px solid #d9ff00;
}

.card-pink {
    /* Saída Contingência */
    border: 2px solid #ff0062;
}

.card-preto {
    /* Saída Normal */
    border: 2px solid #000000;
}

.card-branco {
    /* Saída Liberada - Entrega */
    border: 2px solid #ffffff;
}

.card-cinza {
    border: 2px solid #ccc;
}

.card::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 700px;
    height: 50px;
}

.portaria {
    position: absolute;
    margin-left: 320px;
    margin-top: 6px;
    text-align: center;
    z-index: 1;
    width: 30px;
    font-size: 25px;
    color: black;
    background-color: #f5f5f5;
    border-radius: 100%;
    font-weight: bold;
}

.id {
    margin-top: -5%;
    background-color: transparent;
    text-align: start;
    width: 100%;
    z-index: 1;
    font-size: 10px;
    color: white;
    font-weight: bold;
}

.status {
    position: absolute;
    margin-top: 8px;
    background-color: transparent;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.rg {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.nome {
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
    color: black;
    font-size: 22px;
    text-wrap: wrap;
}

.dados_veiculo {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}

.dados {
    text-align: center;
    margin: 0;
    margin-top: -15px;
    width: 70%;
    flex-wrap: wrap;
}

.dados-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.dados-container img {
    width: 50px; 
    height: 50px; 
    margin-top: 0;
    margin-left: 25px;
}

.dados_carregamento {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.entrada-container,
.carregamento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.entrada-container img,
.carregamento-container img {
    width: 50px;
    height: 50px;
    margin-top: 0;
}

.entrada,
.carregamento {
    text-align: center;
    margin-top: -10px;
}

.card-vermelho::before {
    background-color: #ff0800;
}

.card-verde::before {
    background-color: #28a745;
}

.card-amarelo::before {
    background-color: #ffc107;
}

.card-pink::before {
    background-color: #ff0062;
}

.card-preto::before {
    background-color: #000000;
}

.card-branco::before {
    background-color: #fff;
    color: black;
}

.card-cinza::before {
    background-color: #ccc;
}


#loader {
    position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 10px solid #f0f0f0;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#veiculos-container {
    display: none;
    text-align: center;
  }
